<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
  <div class="container text-center mt-5">
    <div class="alert alert-danger">
      <h2>오류가 발생했습니다</h2>
      <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
      <p th:unless="${errorMessage}">요청을 처리하는 중에 문제가 발생했습니다.</p>
    </div>
    <a href="javascript:history.back()" class="btn btn-secondary">이전 페이지로 돌아가기</a>
    <a th:href="@{/}" class="btn btn-primary">메인 페이지로 이동</a>
  </div>
</div>
</html>